<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-3xl text-bold p-2">wellcome to profile page</h1>
    <a href="/logout" class="bg-red-500 inline-block mx-4 p-2 text-white border border-red-600 rounded-md hover:bg-red-800" >logout</a>
</body>
</html>